<div>
  <h1>Single Car Page</h1>
  <p>Show me the Car:</p>
  <ul>
    <li ng-repeat="car in vehicle">
      {{ car.car_make }} - 
      {{ car.car_model }} - 
      {{ car.dealership }} - 
      {{ car.active }}
    </li>
  </ul>

</div>
