<div>
  <h1>Home Page</h1>
  <p>Show me the Cars:</p>
  <ul>
    <li ng-repeat="car in cars.data">
      {{ car.car_make }} - 
      {{ car.car_model }} - 
      {{ car.vehicle_color }} - 
      {{ car.dealership }} - 
      {{ car.active }} <br />
      <a class="btn btn-success" href="#/car/{{ car.id }}">
          {{ car.car_model }} {{ car.id }}
      </a>
    </li>
  </ul>
</div>
